.top-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
  
    &__item {
        display: flex;
        align-items: center;
    }
    &__icon {
        margin-right: 7px;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 44px;
        margin: 0 47px;
        color:#25CF43;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        border: 1px solid #25CF43;
        border-radius: 84px;
        a {
            color: #25CF43;
        }
    }
   
}